<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/send/" method="post">
    <table align="center" >
        <tr>
            <td>

                <input type="button" name="t1" value="song1">
                <input type="button" name="t1" value="song2">

                <input type="button" name="t1" value="song3">
                <input type="button" name="t1" value="song4">

            </td>
        </tr>
    </table>
</form>
</body>
</html>